services:
  - type: web
    name: netflix-clone-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: TMDB_API_KEY
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: GOOGLE_APP_EMAIL
        sync: false
      - key: GOOGLE_APP_PASSWORD
        sync: false
